<p-card [header]="header" [style]="{ width: '360px' }">
  <ng-template pTemplate="header">
    <img [alt]="header" [src]="image" />
  </ng-template>
  <hr>
  <div class="location">
    <fa-icon [icon]="faLocationDot" class="fa-location-dot"></fa-icon>
    <p>{{ description }}</p>
  </div>
  <ng-template pTemplate="footer">
    <div class="flex gap-3 mt-1 card-footer">
      <label for="fecha">{{ date }}</label>
      <button (click)="onBuy()" type="button"
        class="text-white rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Comprar</button>
    </div>
  </ng-template>
</p-card>