<div class="flex flex-wrap">
    <section class="relative mx-auto">
        <nav class="flex justify-between bg-white text-black w-screen shadow-md">

            <div class="px-2 xl:px-2 py-2 flex w-full items-center">
                <a class="text-3xl font-bold font-heading px-2 xl:px-2 py-2" href="home">
                    <img src="../assets/logoticket.png" alt="logoticket">
                </a>

                <ul class="md:flex px-4 font-heading space-x-6">
                    @for (item of userRegular; track item) {
                    <li (click)="item.command ? item.command() : null" class="px-2 xl:px-2 py-2">
                        <fa-icon *ngIf="item.icon" [icon]="getIcon(item.icon)" class="fa-icon mr-2"></fa-icon>
                        <a class="text-slate-600">{{ item.label }}</a>
                    </li>
                    }
                </ul>

                <div class="items-center space-x-5 items-center">
                    <fa-icon class="fa-icon mr-2 text-lg" [icon]="getIcon('faCircleUser')"></fa-icon>
                </div>
            </div>

        </nav>
    </section>
</div>