<p-menubar [model]="userRegular">
    <ng-template pTemplate="start">
        <img src="../assets/logoticket.png" alt="logoticket">
    </ng-template>

    <ng-template let-item pTemplate="item">
        <a (click)="item.command?.()" pRipple class="flex align-items-center p-menuitem-link">
            <fa-icon *ngIf="item.icon" [icon]="getIcon(item.icon)" class="fa-icon mr-2"></fa-icon>
            <span class="ml-2">{{ item.label }}</span>
        </a>
    </ng-template>

    <ng-template pTemplate="end">
        <div class="flex align-items-center gap-2">
            <input type="text" pInputText placeholder="Buscar evento..." />
            <p-menu #menu [model]="opcUsers" [popup]="true" />
            <fa-icon [icon]="faCircleUser" class="fa-icon-user" (click)="menu.toggle($event)"></fa-icon>                
        </div>
    </ng-template>
</p-menubar>