<section class="form-container">
    <label for="informacion">Información de compra</label>
    <section class="flex-container">
        @if(loading){
        <p-skeleton width="15rem" height="3rem" class="mr-3" />
        <p-skeleton width="15rem" height="3rem" class="mr-3" />
        <p-skeleton width="15rem" height="3rem" class="mr-3" />
        } @else{
        <div *ngFor="let boleto of boletosFiltrados; let i = index" class="mb-2 mr-7">
            <p>Boleto #{{ i + 1 }}</p>

            <label for="codAsiento">Tipo de asiento:
                <span>
                    {{ (boleto.ID_TipoBoleto === 1) ? 'Platinum' : '' }}
                    {{ (boleto.ID_TipoBoleto === 2) ? 'Gold' : '' }}
                    {{ (boleto.ID_TipoBoleto === 3) ? 'Silver' : '' }}
                    {{ (boleto.ID_TipoBoleto === 4) ? 'General' : '' }}
                </span>
            </label>

            <label for="preAsiento">Precio de asiento:
                <span>
                    ${{ boleto.Costo }}
                </span>
            </label>
        </div>
        }
    </section>
</section>